<h1 class="text-center ">Sửa sách</h1>
<form ng-submit="updateBook()">
    <div class="mb-3">
        <label for="id" class="form-label">ID</label>
        <input type="text" class="form-control " id="id" ng-model="book.id" >
        <span class="text-danger " ng-if="checkForm.check_id">Vui lòng nhập ID</span>
    </div>
    <div class="mb-3">
        <label for="ma_sach" class="form-label">Mã sách</label>
        <input type="text" class="form-control " id="ma_sach" ng-model="book.maSach" >
        <span class="text-danger " ng-if="checkForm.check_maSach">Vui lòng nhập mã sách</span>
    </div>
    <div class="mb-3">
        <label for="ten_sach" class="form-label">Tên sách</label>
        <input type="text" class="form-control " id="ten_sach" ng-model="book.tenSach" >
        <span class="text-danger " ng-if="checkForm.check_tenSach">Vui lòng nhập tên sách dài hơn 10 kí tự</span>
    </div>
    <div class="mb-3">
        <label for="loai_sach" class="form-label">Loại sách</label>
        <input type="text" class="form-control " id="loai_sach" ng-model="book.loaiSach" >
        <span class="text-danger " ng-if="checkForm.check_loaiSach">Vui lòng nhập loại hàng</span>
    </div>
    <div class="mb-3">
        <label for="gia_sach" class="form-label">Giá sách</label>
        <input type="text" class="form-control " id="gia_sach" ng-model="book.giaSach" >
        <span class="text-danger " ng-if="checkForm.check_giaSach">Vui lòng nhập giá sách lớn hơn 10000</span>
    </div>
    <div class="mb-3">
        <label for="so_luong" class="form-label">Số lượng</label>
        <input type="text" class="form-control " id="so_luong" ng-model="book.soLuong" >
        <span class="text-danger " ng-if="checkForm.check_soLuong">Vui lòng nhập số lượng</span>
    </div>
    <div>
        <button type="submit" class="btn btn-success ">Xác nhận</button>
    </div>
</form>