<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

</head>

<body ng-app="myapp">
    <br>
    <div class="container">
        <div ng-controller="myctrl">
            <form>
                <div class="form-group">
                    <label for="">Họ tên: </label>
                    <input ng-model="student.fullname" type="text" class="form-control" name="" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Ngày sinh: </label>
                    <input ng-model="student.birthday" type="text" class="form-control" name="" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Điểm: </label>
                    <input ng-model="student.mark" type="number" class="form-control" name="" id="" placeholder="">
                </div>
                <div class="form-group">
                    <button ng-click="insert()" ng-show="index == -1" class="btn btn-primary">Thêm</button>
                    <button ng-click="update()" ng-hide="index == -1" class="btn btn-warning">Sửa</button>
                    <button ng-click="delete()" ng-hide="index == -1" class="btn btn-danger">Xóa</button>
                    <button ng-click="cancel()" class="btn btn-info">Hủy</button>
                    <button ng-click="clear()" class="btn btn-light">Mới</button>

                </div>

            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>Họ tên:</th>
                        <th>Ngày sinh:</th>
                        <th>Điểm</th>
                        <th>Xếp loại: </th>
                        <th>Action:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="st in students">
                        <td>{{st.fullname}}</td>
                        <td>{{st.birthday}}</td>
                        <td>{{st.mark}}</td>
                        <td>
                            <span ng-if="st.mark < 5">Yeu/Kem</span>
                            <span ng-if="st.mark >= 5 && st.mark <= 8">Trung Binh/Kha</span>
                            <span ng-if="st.mark > 8">Gioi/Xuat sac</span>
                        </td>
                        <td>
                            <a href="#" ng-click="edit($index)">Sua</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var app = angular.module("myapp", []);
        app.controller("myctrl", function ($scope) {
            $scope.students = [];
            $scope.student = {};
            $scope.index = -1;
            $scope.insert = function () {
                $scope.students.push(angular.copy($scope.student));
                $scope.clear();
            }
            $scope.update = function () {
                $scope.students[$scope.index] = angular.copy($scope.student);
            }
            $scope.delete = function () {
                $scope.students.splice($scope.index, 1);
                $scope.clear();
            }
            $scope.cancel = function () {
                if ($scope.index == -1) {
                    $scope.clear();
                } else {
                    $scope.edit($scope.index);
                }
            }
            $scope.clear = function (index) {
                $scope.student = {};
                $scope.index = -1;
            }
            $scope.edit = function (index) {
                $scope.index = index;
                $scope.student = angular.copy($scope.students[index]);
            }
        });

    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>